@model TTCS.Areas.EmailSrv.Models.ECustomers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ECustomers</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ID2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ID2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Region)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Region)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Comment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Comment)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Marketer)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Marketer)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AgentID1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgentID1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AgentID2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AgentID2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Enterprise)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Enterprise)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact1_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact1_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact1_Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact1_Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact1_Tel1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact1_Tel1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact1_Tel2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact1_Tel2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact1_Email1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact1_Email1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact1_Email2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact1_Email2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact1_DoSend)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact1_DoSend)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact2_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact2_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact2_Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact2_Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact2_Tel1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact2_Tel1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact2_Tel2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact2_Tel2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact2_Email1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact2_Email1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact2_Email2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact2_Email2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact2_DoSend)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact2_DoSend)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact3_Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact3_Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact3_Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact3_Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact3_Tel1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact3_Tel1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact3_Tel2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact3_Tel2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact3_Email1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact3_Email1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact3_Email2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact3_Email2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contact3_DoSend)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contact3_DoSend)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsAssignRule)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAssignRule)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
