@model IEnumerable<TTCS.Areas.EmailSrv.Models.ECustomers>

@{
    SelectList serviceitem = ViewBag.ServiceItem;
}

<table class="table_view">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ID2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact1_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact1_Tel1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact1_Email1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ID2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact1_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact1_Tel1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact1_Email1)
        </td>
        <td>
            @Html.ActionLink("編輯", "Edit", new { id=item.ID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @Html.ActionLink("刪除    ", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>